header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    position: absolute;
    top: 0; 
    z-index: 998;

}

#header_nav{
    z-index: 997;
    width: 150px;
    height: 158px;
    border-radius: 20px 0 20px 20px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 5px;
    transform: translateY(-150px);
    overflow-x: hidden;
}

.header_nav_active {
    transform: translateY(50px) !important;
}

#header_nav a {
    padding: 8px 16px 8px 16px; 
    text-decoration: none;
    color:#CDCDCD;
    width: 150px;
}

.header_title {
    padding-left: 348px;
    font-size: 24px;
}

.header_icons{
    padding-right: 40px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.initial_box {
    height: 56px;
    width: 56px;
    border: 3px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.user_initials{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    color:#29ABE2;
    font-weight: 800;
    
}