:root {
    --primary-color: rgba(42, 54, 71, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
}


body {
    margin: 0;
    display: flex;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bg_main {
    background: rgba(246, 247, 248, 1);
}

button {
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px 15px 16px;
    background: rgba(42, 54, 71, 1);
    color: white;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.button_white {
    background-color: white;
    color: rgba(42, 54, 71, 1);
    border: 1px solid rgba(42, 54, 71, 1);
}

.button_white:hover {
    border: 2px solid rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    color: rgba(41, 171, 226, 1);

}

input {
    background: rgba(255, 255, 255, 1);
    height: 48px;
    width: 422px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

input::placeholder {
    color: rgba(209, 209, 209, 1);
    font-size: 20px;
    font-weight: 400;
}

input:focus-visible {
    border: 1px solid rgba(41, 171, 226, 1);
    outline: none;
}

input[type="email"] {
    background-image: url('/assets/img/mail.png');
    background-repeat: no-repeat;
    background-position: right 21px center;
    background-size: 20px 16px;
}

input[type="text"][placeholder="Name"] {
    background-image: url('/assets/img/person.png');
    background-repeat: no-repeat;
    background-position: right 21px center;
    background-size: 20px 20px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border: 2px solid rgba(42, 54, 71, 1);
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    margin: 0 5px 0 0;
    padding: 0;
}

input[type="checkbox"]:checked {
    background-color: white;
    border-color: rgba(42, 54, 71, 1);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid rgba(42, 54, 71, 1);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:hover {
    border-color: rgba(41, 171, 226, 1);
}

.password-wrapper {
    position: relative;
    width: 422px;
}

.password-wrapper input {
    width: 100%;
    padding-right: 55px;
}

.password-wrapper img {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 20px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 20px 40px 20px 116px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 20px;
}

.header_profile_aside {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_help_icon:hover {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.header_profile_initials_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 559px;
    padding: 10px;
    border: 3px solid rgba(42, 54, 71, 1);
    color: rgba(41, 171, 226, 1);
}

.header_profile_initials_section:hover {
    background-color: rgb(226, 230, 236);
    cursor: pointer;
}


.nav_section {
    background-color: var(--primary-color);
    height: 100vh;
    padding: 64px 0px 64px 0px;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.nav_section_logo {
    margin-bottom: 114px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0px 8px 56px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.nav_item:hover {
    background: rgba(42, 61, 89, 1);

}

.nav_section_imprint {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px
}

.nav_section_imprint a {
    padding: 4px 0 4px 0;
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
}

.nav_section_imprint a:hover {
    padding: 4px 0 4px 0;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

.headline_section {
    display: flex;
    align-items: center;
    margin: 110px 0 0 96px; 
    gap: 30px; 
}

.headline_section h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 61px;
    margin-block-start: 0;
    margin-block-end: 0;
}