:root {
    --primary-color: rgba(42, 54, 71, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
}


body {
    margin: 0;
    display: flex;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 20px 40px 20px 116px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 20px;
}

.header_profile_aside {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_help_icon:hover {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.header_profile_initials_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 559px;
    padding: 10px;
    border: 3px solid rgba(42, 54, 71, 1);
    color: rgba(41, 171, 226, 1);
}

.header_profile_initials_section:hover {
    background-color: rgb(226, 230, 236);
    cursor: pointer;
}


.nav_section {
    background-color: var(--primary-color);
    height: 100vh;
    padding: 64px 0px 64px 0px;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.nav_section_logo {
    margin-bottom: 114px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0px 8px 56px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.nav_item:hover {
    background: rgba(42, 61, 89, 1);

}

.nav_section_imprint {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px
}

.nav_section_imprint a {
    padding: 4px 0 4px 0;
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
}

.nav_section_imprint a:hover {
    padding: 4px 0 4px 0;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}