<header>
    <div class="header_title">Join Your Organisation</div>
    <div class="header_icons">
        <img src="./assets/img/help.png" alt="Bild eines Help Icons">
        <div class="initial_box" onclick="showNavMenu()">
            <div class="user_initials">JM</div>
        </div>
    </div>
</header>
<div class="header_nav_container">
    <div id="header_nav">
        <a href="legal.html">Legal Notice</a>
        <a href="privacy.html">Privacy Policy</a>
        <a href="index.html" onclick="logout()">Log out</a>
    </div>
</div>