<nav>
    <div class="join_logo_nav">
        <img src="./assets/img/join_logo.png" alt="">
    </div>
    <div>
        <a href="index.html">
            <img src="" alt="">
            <div>Summary</div>
        </a>

        <a href="index.html"><img src="" alt="">
            <div>Add Task</div>
        </a>

        <a href="index.html"><img src="" alt="">
            <div>Board</div>
        </a>

        <a href="index.html"><img src="" alt="">
            <div>Contacts</div>
        </a>

    </div>
</nav>