<nav>
    <a class="join_logo_nav" href="index.html">
        <img src="./assets/img/join_logo.png" alt="">
    </a>
    <div class="navigation_link_container">
        <a href="summary.html">
            <div class="nav_link_position">
            <img src="./assets/img/summary-icon-nav.png" alt="Icon zum Summary Link">
            <div>Summary</div>
            </div>
        </a>

        <a href="addtask.html">
            <div class="nav_link_position">
            <img src="./assets/img/add-task-icon-nav.png" alt="Icon zum Add Task Link">
            <div>Add Task</div>
            </div>
        </a>

        <a href="board.html">
            <div class="nav_link_position">
            <img src="./assets/img/board-icon-nav.png" alt="Icon zum Board Link">
            <div>Board</div>
            </div>
        </a>

        <a href="contacts.html">
            <div class="nav_link_position">
            <img src="./assets/img/contact-icon-nav.png" alt="Icon zum Contact Link">
            <div>Contacts</div>
            </div>
        </a>
    </div>
    <div class="navigation-legal-container">
        <a href="privacy.html">Privacy Policy</a>
        <a href="legal.html">Legal Notice</a>
    </div>
</nav>