<nav>
    <div class="join_logo_nav">
        <img src="./assets/img/join_logo.png" alt="">
    </div>
    <div class="navigation_link_container">
        <a href="index.html">
            <img src="./assets/img/summary-icon-nav.png" alt="Icon zum Summary Link">
            <div>Summary</div>
        </a>

        <a href="index.html"><img src="./assets/img/add-task-icon-nav.png" alt="Icon zum Add Task Link">
            <div>Add Task</div>
        </a>

        <a href="index.html"><img src="./assets/img/board-icon-nav.png" alt="Icon zum Board Link">
            <div>Board</div>
        </a>

        <a href="index.html"><img src="./assets/img/contact-icon-nav.png" alt="Icon zum Contact Link">
            <div>Contacts</div>
        </a>
    </div>
    <div class="navigation-legal-container">
        <a href="privacy.html">Privacy Policy</a>
        <a href="legal.html">Legal Notice</a>
    </div>
</nav>